{% extends 'base.html' %}

{% block content %}

{% load static %}
    <main>
        <div>
            <a class='button' style='vertical-align:middle' href={{'https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley'}}> Home </a>
            <h1 class='span'> Craigslist </h1>
            <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" name='search'> </input>
                <button type="submit"> Search </button>
            </form>
            
            <table>
                    <tr>
                        <th> Price </th>
                        <th> Title </th>
                        {% comment %} <th> Listing </th> {% endcomment %}
                        {% comment %} <th> Picture </th> {% endcomment %}
                    </tr>
                    {% for car in cars %}
                    <tr class='prices'>
                        <td class='price'> {{car.Price}} </td>
                        <td> <a href={{car.URL}}>{{car.Title}} </a></td>
                        {% comment %} <td>  <a href={{car.URL}}> {{car.URL}} </a>
                        </td> {% endcomment %}
                        {% comment %} <td> {{car.Image}} </td> {% endcomment %}
                    </tr>

                    {% endfor %}
                </table>
        </div>
    </main>
{% endblock %}