body {
    font-family: 'Fira Code', monospace;
    width: 100%;
    height: 100%;
    font-size: 16px;
    background-image: url("");
    background-color: #cccccc;
}


main {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

p {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 3rem;
    background: linear-gradient(to bottom, #000, #000 60%, #fff 60%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    transition: background 0.2s ease-out;
    white-space: nowrap;
}

span {
    position: relative;
}

span:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 15px;
    background: #000;
    bottom: 9px;
    transition: all 0.2s ease-out;
}

p:hover {
    background-position: 0 11px;
}

span:hover:before {
    transform: translateY(10px)
}


th {
    color: #fffff;

    background-color: #009879;
    text-align: left;
    font-weight: bold;
    padding: 12px 15px;

}

td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
}

tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tr:nth-last-of-type {
    border-bottom: 2px solid #009879;
}






.center {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}




.price {
    font-weight: bold;
}



.button {
    position: relative;
    background-color: #06c57c;
    border: none;
    font-size: 10px;
    color: #FFFFFF;
    padding: 20px;
    width: 50px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 100%;
    padding-left: 150%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}